<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Document</title>
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <a id="a1" href="{% url 'achievements_page' %}">Досягненя</a>
        <a href="{% url 'education_page' %}">Освіта</a>
        <a href="{% url 'hobbies_page' %}">Хобі</a>
        <a href="{% url 'leisure_page' %}">Дозвілля</a>
        <a href="{% url 'main_page' %}">Головна</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <a href="{% url 'achievements_page' %}">Досягненя</a>
        <a href="{% url 'education_page' %}">Освіта</a>
        <a href="{% url 'hobbies_page' %}">Хобі</a>
        <a href="{% url 'leisure_page' %}">Дозвілля</a>
        <a href="{% url 'main_page' %}">Головна</a>
    </footer>
</body>
</html>